html{
	scroll-behavior: smooth;

}

body
		{
			color: white;
			background-image: url(../img/ft2.jpg);width: 100%;
			background-attachment: fixed;
			background-repeat: no-repeat;
			background-position: 50%;
			line-height: 1.8;
		}

		h1
		{
			color: rgb(198, 16, 16);
			text-align: center;
			font-size: 1.4em;
			font-weight: bold;
		}

		header{
			width: 100%;
			background-color: black;
			
		}

		.logo{
			color: rgba(232, 16, 16, 0.886);
			text-align: center;
			font-size: 1.4em;
			padding: 2%;
			border: 10px solid rgb(193, 15, 15);
			background-image: linear-gradient(red, black);

		}
		nav{
			color: rgb(220, 220, 228);
			text-align: center;
			font-size: 1.4em;
			
		}
		.banner {
			width: 100%;
		}
		.banner{
			width: 100%;
		}
		.container{
			width: 100%;
			margin: auto;
	
		}
		footer{
			font-size: 1.3em;
			
		}
		p {
			text-align: center;
			color: rgba(239, 8, 58, 0.735);
			font-size: xx-large
	
		}
		figure {
			text-align: center;
		}
		section{
			padding-top: 1.8%;
			background-color: black;
			padding-bottom: 1.8%;
			padding-left: 2%;
			padding-right: 2%;
			margin-top: 10%;
			margin-bottom: 10%;
			
		}
	
	
		.ista{
			width: 3%;
		}

		.img1{
			float: left;
		}

		.linha{
			display: flex;
			flex-flow: row wrap;
			text-align: center;
			}

			.col-6{
				
				width: 50%;
			}
		.video{
			background-image: linear-gradient(to right, #d4cdcd , #DCDCDC);
			width: 90%;
			border-style: double;
			border-color: #da1212;
			border-width: 5px;
			box-shadow: 15px 15px 15px 2px rgba(217, 209, 209, 0.2);
			transition: 0.3s;   
		}

		
		table, th, td {
			border: 1px solid white;
			border-collapse: collapse;
			background-color: #da1212;
			padding: 1em;
			text-align: center;
		  }
		  
			
		  